body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.Sidebar {
  height: 100%;
  width: 200px;
  padding: 20px;
  font-weight: bold;
}

.SidebarList {
  height: 100%;
  width: fit-content;
  padding: 0 10px;

  position: fixed;
}

.SidebarList .row {
  position: relative;

  margin: 10px;
  width: fit-content;
  height: 50px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  border-left: 5px solid white;
  &.selected {
    border-left: 5px solid #EE4700;
  }
  &:hover {
    cursor: pointer;
  }
}

.MyMoves .title{
  width: 100%;
  /* position: fixed; */
  background-color: #fff;
  padding-top: 25px;
  margin-bottom: 15px;
  padding-left: 10px;

}


.MyMoves {
  height: 100%;
  width: 100%;
  padding: 0 10px;
  /* margin: 40px 10px; */
}
.MyMovesCard {
 
  width: 100%;
  padding: 10px 10px;


}


.MyMovesCard .TopRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 60%; */
}

.MyMovesCard .TopRow .From {
  flex: 3;
}
.MyMovesCard .TopRow .Arrow {
  flex: 1;
}
.MyMovesCard .TopRow .To {
  flex: 3;
}
.MyMovesCard .TopRow .reqId {
  flex: 1;
}
.MyMovesCard .TopRow .reqId p {
  color: #EE4700;
}

.MyMovesCard .BottomRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 50px; */

}

.BottomRow .Type {
  flex: 1;
} 
.BottomRow .Packages {
  flex: 1;
} 
.BottomRow .Distance {
  flex: 1;
} 
.BottomRow .Date {
  display: flex;
  align-items: center;
  gap :3px;
  flex: 1;
} 
.BottomRow .IsFlexible {
  flex: 1;
} 
.BottomRow .DetailsButtons {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap :10px;

} 

/* .BottomRow .DetailsButtons .myButton{
  background-color: #ff5722;
  color: #fff;
  padding: 10px 20px;

} */

.IconAndText{
  display: flex;
align-items: center;
gap: 5px;
}

.icons {
  color: #EE4700;
  &.black{
    color: black;
  }
}



.Direction {
  font-weight: bold;
}
.Location {
  font-weight: normal;
}


.Checkbox input[type="checkbox"]{
  height: 15px;
  width: 15px;
  border-radius: 5px ;
}


.footer{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 10px;

}
.type{
  margin-right: 30px;

}

.RoomDropDown{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px; 
  padding: 10px;
}



.ItemCountContainer{
  display: flex;
  justify-content: space-between;

}

.itemNames{

  display: flex;
      flex-direction: column;
}