body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
  letter-spacing: 0.5px;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.Sidebar {
  height: 100%;
  width: 200px;
  padding: 20px;
  /* font-weight: bold; */
}

.SidebarList {
  height: 100%;
  width: fit-content;
  padding: 0 10px;

  position: fixed;
}

.SidebarList .row {
  position: relative;

  margin: 10px;
  width: fit-content;
  height: 50px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  border-left: 5px solid white;
  &.selected {
    border-left: 5px solid #ee4700;
  }
  &:hover {
    cursor: pointer;
  }
}

.MyMoves .cards {
  margin-top: 50px;
}
.MyMoves .title {
  width: 100%;
  position: fixed;
  background-color: #fff;
  padding-top: 25px;
  margin-bottom: 15px;
  padding-left: 10px;
}

.MyMoves {
  height: 100%;
  width: 100%;
  padding: 0 10px;
  /* margin: 40px 10px; */
}
.MyMovesCard {
  width: 100%;
  padding: 10px 10px;
}

.MyMovesCard .TopRow {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 15px;
  /* height: 60%; */
}

.MyMovesCard .TopRow .From {
  flex: 3;
}
.MyMovesCard .TopRow .Arrow {
  flex: 1;
}
.MyMovesCard .TopRow .To {
  flex: 3;
}
.MyMovesCard .TopRow .reqId {
  flex: 1;
}
.MyMovesCard .TopRow .reqId p {
  color: #ee4700;
}

.MyMovesCard .BottomRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: medium;
  /* height: 50px; */
}

.BottomRow .Type {
  flex: 1;
}
.BottomRow .Packages {
  flex: 1;
}
.BottomRow .Distance {
  flex: 1;
}
.BottomRow .Date {
  display: flex;
  align-items: center;
  gap: 3px;
  flex: 3;
}
.BottomRow .IsFlexible {
  flex: 1;
}
.BottomRow .DetailsButtons {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* .BottomRow .DetailsButtons .myButton{
  background-color: #ff5722;
  color: #fff;
  padding: 10px 20px;

} */

.IconAndText {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: normal;
}
.IconAndText h4 {
  font-weight: normal;
}

.Arrow .icons {
  height: 40px;
}
.Arrow .icons  svg{
  font-size: 35px ;
}
.icons {
  color: #ee4700;
  

  &.black {
    color: black;
  }
}

.Direction {
  font-weight: bold;
  margin-bottom: 5px;
}
.Location {
  font-weight: normal;
}

.Checkbox input[type="checkbox"] {
  height: 15px;
  width: 15px;
  border-radius: 5px;
}

.footer .icons svg {
  font-size: large;
}

.footer {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 10px;
  font-size: small;
}
.type {
  margin-right: 30px;
}

.RoomDropDown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.ItemCountContainer {
  display: flex;
  justify-content: space-between;
}

.itemNames {
  display: flex;
  flex-direction: column;
}

.RoomTypesContainer .heading {
  display: flex;
  margin: 30px 0;
  gap: 10px;
  align-items: center;
}

.RoomTypes {
  flex: 10;
  display: flex;
  align-items: center;
  height: 30px;
  gap: 10px;
}
.RoomTypes span {
  color: #ee4700;
}
.HouseDetailsCard span {
  color: #ee4700;
}

.iconArrow {
  flex: 1;
}
.itemCount {
  font-size: small;
}
.itemCountDiv {
  width: 30px;
  height: 20px;
  background-color: #ee4700;
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: small;
}

.Checkbox {
  display: flex;
  gap: 5px;
}

.checkboxContainer {
  width: 15px;
  height: 15px;
  background-color: #cfcfcf;
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  cursor: pointer;
  &.true {
    background-color: #ee4700;
    color: white;
  }
}
.RoomTypesWithArrow {
  display: flex;
  align-items: center;
  width: 95%;
  justify-content: space-evenly;
  background-color: #e8e8e8;
  padding: 15px 20px;
  margin-bottom: 10px;
}

.Loading {
  display: grid;
  place-items: center;
}

.HouseDetailsCard .DoubleText {
  min-height: 50px;
}
.HouseDetailsCard .Texts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  padding: 20px;
  font-size: small;
}

.DoubleText .value {
  font-weight: normal;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.ErrorContainer {
  padding: 30px;
  color: #ee4700;
}
